[Unit]
Description=Run portal MAX notification worker every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=30s
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
